/* This is the main style file for http://nacroni.github.io. */
/* -- main BRANCH, 2025 -- */

.maintable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}