body {
  color: white;
  background-image: url('/media/bg/little.djxl.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: black;
}