/* This is the main style file for http://nacroni.pages.dev. */
/* -- main BRANCH, 2025 -- */

body {
  color: white;
  background-color: black;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.maintable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


a:link {
  color: orangered;
}
a:visited {
  color: red;
}
a:hover {
  color: orange;
}
a:active {
  color: red;
}
