/* This is the main style file for http://nacroni.github.io. */
/* -- Main BRANCH, 2023 -- */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');
body,h1,h2,h3,h4,h5,h6 {font-family: 'Wix Madefor Text', sans-serif;}
/* Realtime Colors */
:root {
  --text: #000000;
  --background: #f2f3f8;
  --primary: #454e7d;
  --secondary: #dee1ed;
  --accent: #5a67a5;
}

.bordercorner {
  border-radius: 20px;
  background: --accent;
  padding: 20px;
}

body {
  background-color: --accent;
}

nav {background-color: --secondary !important; }
.navbuttons {background-color: --primary !important;}
