/* Solarized */
html {
    /* Color Definitions */
    --base03: #002b36; /* Dark Background */
    --base02: #073642; /* Dark Background Highlights */
    --base01: #586e75; /* Light Important, Dark Secondary */
    --base00: #657b83; /* Light Body */
    --base0:  #839496; /* Dark Body */
    --base1:  #93a1a1; /* Light Secondary, Dark Important */
    --base2:  #eee8d5; /* Light Background Highlights */
    --base3:  #fdf6e3; /* Light Background */
    --yellow: #b58900;
    --orange: #cb4b16;
    --red:    #dc322f;
    --magenta:#d33682;
    --violet: #6c71c4;
    --blue:   #268bd2;
    --cyan:   #2aa198;
    --green:  #859900;
  }
  
  
  /* Light Mode / Default */
  body {
    /* Colors */
    background-color: var(--base3);
    color: var(--base00);
  
    /* High Importance */
    b {color: var(--base01);}
  
    /* Low Importance */
    i, small {color: var(--base1)}
  
    /* Separator */
    hr {border: 1px solid var(--base01);}
  
    /* Links */
    a:link {color:var(--blue)}
    a:visited {color:var(--violet)}
    a:hover {color:var(--magenta)}
    a:active {color:var(--cyan)}
  
    /* Buttons */
    button {
      background-color: var(--base2);
      color: var(--base00);
      border: 1px solid var(--base1);
    }
    button:active {
      background-color: var(--base1);
      color: var(--base2);
      border-color: var(--base00);
    }
  }
  
  
  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    body {
      /* Colors */
      background-color: var(--base03);
      color: var(--base0);
  
      /* High Importance */
      b {color: var(--base1)}
  
      /* Low Importance */
      i, small {color: var(--base01)}
  
      /* Separator */
      hr {border: 0.5px solid var(--base1);}
  
      /* Buttons */
      button {
        background-color: var(--base02);
        color: var(--base0);
        border-color: var(--base01);
      }
      button:active {
        background-color: var(--base03);
        color: var(--base00);
        border-color: var(--base02);
      }
    }
  }
  